@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.window {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 20px;
}

.main_text > h1 {
    font-family: "Roboto", sans-serif;
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.btn{
    display: block;
    position: relative;
}

.btn img {
    width: 50px;
    height: auto;
    position: absolute;
    transition: opacity 0.3s ease;
}

.prev img{
    top: 3px;
    left: 3px;
}

.next img{
    top: 3px;
    right: 3px;
}

.btn:hover .normal-img {
    opacity: 0;
}

.hover-img {
    opacity: 0;
}

.btn:hover .hover-img {
    opacity: 1;
}

.container > .hidden {
    display: none;
}

.screen.right {
    margin-right: -100vh;
}